.modal--container {
    background-color: #DCDCDC;
    top: 0;
    width: 500px;
    position: absolute;
    left:0;
    height: 300px;
    border: 1px solid #303030;
}

.modal--container:focus{
    z-index: 1002;
}

.modal__title--container {
    padding:0 10px 0 10px;
    background-color: #A9A9A9;
    border-bottom: .5px solid #303030;
}

.button--close {
    float: right;
    width:37px;
    height:37px;
}

.modal__title--container button {
    padding-top: 0;
    padding-bottom: 0;
}

h1{
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    color: #303030;
}
